body{
    background-color: teal;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-align: center;
    width: 100%;
}
#bola {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    max-width: 500px;
    height: 70vw;
    max-height:500px;
    background-color: rgb(8, 6, 6);
    margin: 50px;
    border-radius: 50%;
}

#triangulo {
    align-self: center;
    width: 0px;
    height: 0px;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
    border-top:7rem solid #949396;
    
}
#paragrafo {
  
    align-self: center;
    justify-content: center;
    color: #fff
}